<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/<%= user.id %>" method="POST">
        <div>
            Name
            <input type="text" name="name" id="" value="<%= user.name%>">
        </div>
        <div>
            Email
            <input type="email" name="email" id="" value="<%= user.email%>">
        </div>
        <div>
            Age
            <input type="number" name="age" id="" value="<%= user.age %>">
        </div>
        <div>
            Bio
            <textarea name="bio" id="" cols="30" rows="10">
                <%= user.bio%>
            </textarea>
        </div>
        <input type="submit" value="Update User">
    </form>
</body>
</html>